* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "montserrat";
}

body h1, h3{
  text-align: center;
}

.inicio {
  background: #0D0F80;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 2.5%;
}

nav {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto;
}

.inicio nav ul  {
  margin-top: 15px;
}

.quem-sou {
  background: #060740;
  color: white;
  padding-left: 2.5%;
}
.formacao {
  background: #0D0F80;
  color: white;
}
.experiencia-profissional {
  background: #060740;
  color: white;
}
.contatos {
  background: #0D0F80;
  color: white;
}
a:link {
  color: rgb(255, 255, 255);
 }